### POSTGRESQL CONNECTION

In [1]:
import psycopg2
import pandas as pd
import psycopg2.extras

In [2]:
class PostgresConnection(object):
    def __init__(self):
        self.connection = psycopg2.connect(database="ecomdb1",
                                           user = "postgres",
                                           password = "12345",
                                           host = "127.0.0.1",
                                           port = "5432")

    def getConnection(self):
        print("successfully connected to database")
        return self.connection

In [3]:
con = PostgresConnection().getConnection()

successfully connected to database

In [5]:
cur = con.cursor()
select_stmt = 'SELECT  s.division , SUM(CAST(t.total_price AS DOUBLE PRECISION))'\
'FROM ecomdb_star_schema.fact_data t'\
'JOIN ecomdb_star_schema.store_dim s ON s.store_key = t.store_key'\
'JOIN ecomdb_star_schema.time_dim time ON  time.time_key = t.time_key'\
'WHERE CAST(time.month AS INTEGER)=12'\
'GROUP BY s.division'\
'ORDER BY s.division'

cur.execute(select_stmt)
records = cur.fetchall()
records

SyntaxError: syntax error at or near "ecomdb_star_schema"
LINE 1: ...RECISION))FROM ecomdb_star_schema.fact_data tJOIN ecomdb_sta...
                                                             ^

In [32]:
df = pd.DataFrame(list(records), columns=['division', 'sales'])

NameError: name 'records' is not defined